@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%; }

#root {
  margin: 0px auto 20px;
  padding-top: 70px; }
  @media (min-width: 1064px) {
    #root {
      max-width: 1024px; } }

#nav-top {
  width: 100%;
  height: 90px;
  background: none;
  position: fixed;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 11; }
  #nav-top nav.navbar-default {
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  #nav-top.dim {
    height: 50px;
    background: rgba(255, 255, 255, 0.9); }
    #nav-top.dim nav.navbar-default {
      margin: 5px auto; }

nav.navbar-default {
  background: none;
  border: none;
  color: #444;
  max-width: 1024px;
  margin: 20px auto;
  font-family: "century gothic", arial;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  nav.navbar-default .navbar-brand, nav.navbar-default .navbar-nav > li > a {
    color: #444;
    font-family: "century gothic", arial;
    letter-spacing: 1px; }
    nav.navbar-default .navbar-brand:hover, nav.navbar-default .navbar-nav > li > a:hover {
      color: #999;
      text-shadow: 0 0 5px rgba(255, 255, 128, 0.7); }

.palette {
  width: 300px;
  display: inline-block;
  margin: 10px 40px 20px 0;
  text-align: right; }
  .palette .name, .palette .like {
    display: inline-block; }
  .palette .name {
    float: left; }
  .palette .like {
    color: #aaa;
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    font-size: 12px; }
    .palette .like i.glyphicon {
      vertical-align: text-top;
      margin-right: 3px; }
  .palette .name, .palette .tag {
    text-align: left;
    font-family: calibri; }
  .palette .tag {
    display: none;
    font-size: 12px;
    text-align: right; }
  .palette .glyphicon-chevron-up {
    cursor: pointer; }

.palette.sm {
  width: 210px; }

.palette-color {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 44px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .palette-color .color {
    position: relative;
    cursor: pointer;
    -ms-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }

@-webkit-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@-moz-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@-ms-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
.editor-palette {
  position: relative; }
  .editor-palette .color.active:after {
    position: absolute;
    display: none;
    left: 50%;
    bottom: -10px;
    margin-left: -8px;
    font-family: "Glyphicons Halflings";
    -webkit-font-smoothing: antialiased;
    content: "";
    color: #222;
    -ms-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -moz-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -webkit-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -o-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -ms-animation: jump 1s infinite ease-in-out;
    -moz-animation: jump 1s infinite ease-in-out;
    -webkit-animation: jump 1s infinite ease-in-out;
    -o-animation: jump 1s infinite ease-in-out;
    animation: jump 1s infinite ease-in-out; }
  .editor-palette .color.active.dark:after {
    color: #ddd; }
  .editor-palette .semantic {
    position: absolute; }
  .editor-palette .color i {
    color: #000;
    opacity: 0.5;
    margin: 4px; }
  .editor-palette .color.dark i {
    color: #fff; }
  .editor-palette .cursor {
    position: absolute;
    width: 100px;
    color: #222;
    -ms-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, left 0.3s ease-in-out; }
    .editor-palette .cursor:after {
      position: absolute;
      bottom: -8px;
      margin-left: -8px;
      -ms-transition: margin-bottom 1s ease-out;
      -moz-transition: margin-bottom 1s ease-out;
      -webkit-transition: margin-bottom 1s ease-out;
      -o-transition: margin-bottom 1s ease-out;
      transition: margin-bottom 1s ease-out;
      -ms-animation: jump 1s infinite ease-in-out;
      -moz-animation: jump 1s infinite ease-in-out;
      -webkit-animation: jump 1s infinite ease-in-out;
      -o-animation: jump 1s infinite ease-in-out;
      animation: jump 1s infinite ease-in-out;
      display: block;
      font-family: "Glyphicons Halflings";
      -webkit-font-smoothing: antialiased;
      content: "";
      text-shadow: 0 1px 2px black; }
    .editor-palette .cursor.dark {
      color: #bbb; }

.color {
  height: 100%;
  display: inline-block; }

.add-color {
  text-align: center;
  color: #999;
  line-height: 44px;
  font-size: 16px;
  border: 1px dashed #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left: -34px;
  margin-top: 0;
  width: 24px;
  height: 44px;
  padding-left: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#editor {
  width: 1024px;
  height: 420px; }

#wheel {
  float: left;
  width: 400px;
  margin: 10px 40px 0 20px; }

#editor-detail {
  float: right;
  width: 520px;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

h3.btns .btn-default {
  border: none;
  vertical-align: bottom; }
h3.btns .pull-right {
  margin-right: 64px;
  margin-top: 5px; }

.palette.ref {
  width: 210px;
  text-align: left; }

circle.ptr {
  cursor: pointer; }

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

g.hue path.hue, g.sat path.sat, g.lit path.lit {
  cursor: pointer; }

g.color-btns {
  cursor: pointer; }

#editor h3, #editor #cur-config, #editor .palette-color {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
#editor h3 {
  height: 32px;
  margin: 15px 0 0; }
#editor #cur-config {
  width: 486px;
  height: 75px;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 10px; }

#mask {
  position: fixed;
  width: 100%;
  height: 105px;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 9;
  top: 50px;
  left: 0;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  opacity: 1;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #mask.dim {
    height: 0;
    overflow: hidden;
    opacity: 0;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0); }

#editor-float {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  height: 111px;
  padding-top: 20px;
  z-index: 10;
  opacity: 1;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #editor-float.dim {
    height: 0;
    overflow: hidden;
    opacity: 0; }
  #editor-float h3, #editor-float #cur-config {
    height: 0;
    margin: 0;
    overflow: hidden; }
  #editor-float #cur-config {
    padding: 0;
    border: none; }
  #editor-float .palette {
    width: 84px; }
    #editor-float .palette .palette-color {
      height: 24px; }
    #editor-float .palette .name, #editor-float .palette .like {
      display: none; }
  #editor-float .editor-palette .add-color, #editor-float .editor-palette .palette-color {
    height: 32px;
    line-height: 32px; }
