<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <!-- libraries-->
    <link rel="icon" type="image/x-icon" href="thumbnail.png">
    <script type="text/javascript" src="/assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="/assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="/bower_components/tinycolor/tinycolor.js"></script>
  </head>
  <body ng-app="ld.color" ng-controller="ldc-editor" ng-mousemove="wheel.move($event)" onmousewheel="scroll(event)">
    <div id="nav-top">
      <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"><a href="#" class="navbar-brand">LOADING.IO</a></div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a id="nav-examples" href="#examples">EXAMPLES</a></li>
              <li><a id="nav-compatibility" href="#compatibility">COMPATIBILITY</a></li>
              <li><a id="nav-comment" href="#comment">CONTACT</a></li>
              <li><a id="nav-more" href="#">MORE</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li ng-class="{'invis':!username}" class="anim profile invis"><a href="#">
                  <div class="avatar"><img ng-src="http://graph.facebook.com/{{uid}}/picture?type=small" ng-show="uid"></div>
                  <div class="name">{{username}}</div></a></li>
              <li><a href="#">&#x2764;</a></li>
              <!--li: a(href="http://github.com/zbryikt/loading/") GITHUB-->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="root">
      <div id="landing"><br>
        <h2>Semantic Colors, Programmable Palettes.</h2>
        <p>Color wheel, code codes, palette... We use them all the day. But we never make them ease to use. It's not true from now on.</p><br><br>
      </div>
      <div id="mask"></div>
      <div id="editor">
        <div id="wheel">
          <svg id="svg" width="400px" height="400px" viewBox="0 0 400 400" preserveAspectRatio="xMidYMin" style="display:block;">
            <defs></defs>
            <radialgradient id="gradient" cx="50%" y="50%" fx="50%" fy="50%" r="50%" spreadMethod="pad">
              <stop offset="0%" stop-color="rgba(128,128,128,1)" stop-opacity="1"></stop>
              <stop offset="100%" stop-color="rgba(128,128,128,1)" stop-opacity="0"></stop>
            </radialgradient>
            <g transform="translate(200 200)" class="hue"></g>
            <g transform="translate(200 200)" class="sat"></g>
            <g transform="translate(200 200)" class="lit"></g>
            <g transform="translate(200 200)" class="fin"></g>
            <g transform="translate(200 200)" class="ptrs">
              <circle id="hue" class="ptr"></circle>
              <circle id="sat" class="ptr"></circle>
              <circle id="lit" class="ptr"></circle>
            </g>
            <g ng-click="wheel.add()" class="color-btns">
              <circle cx="200" cy="200" r="60" fill="#999"></circle>
              <text X="200" Y="200" dominant-baseline="middle" text-anchor="middle">ADD</text>
            </g>
          </svg>
        </div>
        <div id="editor-detail">
          <div class="colorblocks">
            <h3 class="title">Your Palette <small>
                <div class="btn btn-xs btn-default"><i class="glyphicon glyphicon-edit"></i></div>
                <div class="pull-right">
                  <div class="btn btn-xs btn-default"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                  <div class="btn btn-xs btn-default"><i class="glyphicon glyphicon-link"></i></div>
                  <div class="btn btn-xs btn-default"><i class="glyphicon glyphicon-random"></i></div>
                </div></small></h3>
            <div class="editor-palette">
              <div ng-click="wheel.add(true)" class="add-color"><i class="glyphicon glyphicon-plus"></i></div>
              <div style="width:456px;display:inline-block" class="blockcontainer palette-color">
                <div ng-repeat="c in cc" ng-attr-style="background:{{c.toHexString()}};width:{{100/cc.length}}%;" ng-click="setActive($index)" ng-class="{'active':$index==active,'dark':c.isDark()}" class="color">
                  <div class="semantic"><i ng-show="c.semantic.value=='warning'" class="glyphicon glyphicon-exclamation-sign"></i><i ng-show="c.semantic.value=='info'" class="glyphicon glyphicon-info-sign"></i><i ng-show="c.semantic.value=='success'" class="glyphicon glyphicon-ok-sign"></i><i ng-show="c.semantic.value=='danger'" class="glyphicon glyphicon-remove-sign"></i><i ng-show="c.semantic.value=='primary'" class="glyphicon glyphicon-asterisk"></i><i ng-show="c.semantic.value=='default'" class="glyphicon glyphicon-record"></i></div>
                </div>
              </div>
              <div ng-attr-style="left:{{curpos}}px" ng-class="{'dark':cc[active].isDark()}" class="cursor"></div>
            </div>
          </div>
          <div id="cur-config" class="row">
            <div class="col-sm-4">
              <label>color code</label>
              <input placeholder="e.g., #facebc" ng-model="colorcode" class="form-control">
            </div>
            <div class="col-sm-4">
              <label>semantic</label>
              <select ng-model="semantic.value" ng-options="opt as opt.label for opt in semantic.options" class="form-control"></select>
            </div>
            <div class="col-sm-2">
              <label>&nbsp;</label>
              <div ng-click="wheel.delete()" class="btn btn-danger form-control">delete</div>
            </div>
          </div>
          <h3>References</h3>
          <div class="palettes ref">
            <div ng-repeat="pal in refs" class="palette sm">
              <div class="name">{{pal.name}}</div>
              <div class="like"><i class="glyphicon glyphicon-heart"></i>5</div>
              <div class="palette-color">
                <div ng-repeat="c in pal" ng-attr-style="background:{{c.toHexString()}};width:{{c.width}}%" ng-click="setcolor(c)" class="color"></div>
              </div>
              <div class="tag">cloud,blah,qwer</div>
            </div>
          </div>
        </div>
        <div id="editor-float">
          <div class="editor-palette">
            <div ng-click="wheel.add(true)" class="add-color"><i class="glyphicon glyphicon-plus"></i></div>
            <div style="width:456px;display:inline-block" class="blockcontainer palette-color">
              <div ng-repeat="c in cc" ng-attr-style="background:{{c.toHexString()}};width:{{100/cc.length}}%;" ng-click="setActive($index)" ng-class="{'active':$index==active,'dark':c.isDark()}" class="color">
                <div class="semantic"><i ng-show="c.semantic.value=='warning'" class="glyphicon glyphicon-exclamation-sign"></i><i ng-show="c.semantic.value=='info'" class="glyphicon glyphicon-info-sign"></i><i ng-show="c.semantic.value=='success'" class="glyphicon glyphicon-ok-sign"></i><i ng-show="c.semantic.value=='danger'" class="glyphicon glyphicon-remove-sign"></i><i ng-show="c.semantic.value=='primary'" class="glyphicon glyphicon-asterisk"></i><i ng-show="c.semantic.value=='default'" class="glyphicon glyphicon-record"></i></div>
              </div>
            </div>
            <div ng-attr-style="left:{{curpos}}px" ng-class="{'dark':cc[active].isDark()}" class="cursor"></div>
          </div>
          <div class="palettes ref">
            <div ng-repeat="pal in refs" class="palette sm">
              <div class="name">{{pal.name}}</div>
              <div class="like"><i class="glyphicon glyphicon-heart"></i>5</div>
              <div class="palette-color">
                <div ng-repeat="c in pal" ng-attr-style="background:{{c.toHexString()}};width:{{c.width}}%" ng-click="setcolor(c)" class="color"></div>
              </div>
              <div class="tag">cloud,blah,qwer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <h3>All Palettes</h3>
      <div class="palettes">
        <div ng-repeat="pal in pals" class="palette">
          <div class="name">{{pal.name}}</div>
          <div class="like"><i ng-click="setpalette(pal)" class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-heart"></i>5</div>
          <div class="palette-color">
            <div ng-repeat="c in pal" ng-attr-style="background:{{c.toHexString()}};width:{{c.width}}%" ng-click="setcolor(c)" class="color"></div>
          </div>
          <div class="tag">cloud,blah,qwer</div>
        </div>
      </div>
    </div>
  </body>
</html>