html, body {
  width: 100%;
  height: 100%; }

#root {
  margin: 0px auto 20px;
  padding-top: 70px; }
  @media (min-width: 1064px) {
    #root {
      max-width: 1024px; } }

#nav-top {
  width: 100%;
  height: 90px;
  background: none;
  position: fixed;
  -ms-transition: background 0.3s ease-out, opacity 0.3s ease-out;
  -moz-transition: background 0.3s ease-out, opacity 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: background 0.3s ease-out, opacity 0.3s ease-out;
  transition: background 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 11; }
  #nav-top.dim {
    background: rgba(0, 0, 0, 0.5); }

nav.navbar-default {
  background: none;
  border: none;
  color: #444;
  max-width: 1024px;
  margin: 20px auto;
  font-family: "century gothic", arial;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  nav.navbar-default .navbar-brand, nav.navbar-default .navbar-nav > li > a {
    color: #444;
    font-family: "century gothic", arial;
    letter-spacing: 1px; }
    nav.navbar-default .navbar-brand:hover, nav.navbar-default .navbar-nav > li > a:hover {
      color: #999;
      text-shadow: 0 0 5px rgba(255, 255, 128, 0.7); }

.palettes {
  text-align: center; }

.palette {
  width: 300px;
  display: inline-block;
  margin: 10px 40px 20px 0;
  text-align: right; }
  .palette .name, .palette .like {
    display: inline-block; }
  .palette .name {
    float: left; }
  .palette .like {
    color: #aaa;
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    font-size: 12px; }
    .palette .like i.glyphicon {
      vertical-align: text-top;
      margin-right: 3px; }
  .palette .name, .palette .tag {
    text-align: left;
    font-family: calibri; }
  .palette .tag {
    display: none;
    font-size: 12px;
    text-align: right; }

.palette.sm {
  width: 200px; }

.palette-color {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 44px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.color {
  height: 100%;
  display: inline-block; }

.colorblock {
  width: 64px;
  height: 48px;
  margin: 5px;
  display: inline-block;
  vertical-align: bottom; }

#addcolorblock {
  text-align: center;
  color: #ddd;
  line-height: 44px;
  font-size: 24px;
  border: 1px dotted #ccc;
  border-radius: 3px;
  cursor: pointer; }

#editor {
  width: 1024px;
  height: 420px; }

#wheel {
  float: left;
  width: 400px;
  margin: 10px 40px 0 20px; }

#current {
  float: right;
  width: 520px; }

circle.ptr {
  cursor: pointer; }

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

g.hue path.hue, g.sat path.sat, g.lit path.lit {
  cursor: pointer; }

g.color-btns {
  cursor: pointer; }
