@import basic

html,body
  width: 100%
  height: 100%

#root
  margin: 0px auto 20px
  padding-top: 70px
  @media (min-width: 1064px)
    max-width: 1024px

#nav-top
  width: 100%
  height: 90px
  background: none
  position: fixed
  @include transition(all 0.3s ease-out) 
  //background 0.3s ease-out,opacity 0.3s ease-out)
  nav.navbar-default
    @include transition(all 0.3s ease-out) 
  z-index: 11
  &.dim
    height: 50px
    background: rgba(255,255,255,0.9)
    nav.navbar-default
      margin: 5px auto

nav.navbar-default
  background: none
  border: none
  color: #444
  max-width: 1024px
  margin: 20px auto
  font-family: "century gothic", arial
  text-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .navbar-brand, .navbar-nav > li > a
    color: #444
    font-family: "century gothic", arial
    letter-spacing: 1px
    &:hover
      color: #999
      text-shadow: 0 0 5px rgba(255,255,128,0.7)


//.palettes
  text-align: center

.palette
  width: 300px
  display: inline-block
  margin: 10px 40px 20px 0
  text-align: right
  .name, .like
    display: inline-block
  .name
    float: left
  .like
    color: #aaa
    @include transform(scale(0.9))
    font-size: 12px
    i.glyphicon
      vertical-align: text-top
      margin-right: 3px
  .name, .tag
    text-align: left
    font-family: calibri
  .tag
    display: none
    font-size: 12px
    text-align: right
  .glyphicon-chevron-up
    cursor: pointer

.palette.sm
  width: 210px
.palette-color
  border-radius: 3px
  overflow: hidden
  width: 100%
  height: 44px
  box-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .color
    position: relative
    cursor: pointer
    @include transition(width 0.3s ease-in-out)

@include keyframes(jump)
  0%
    margin-bottom: 8px
  50%
    margin-bottom: 0
  100%
    margin-bottom: 8px

.editor-palette
  position: relative
  .color.active
    &:after
      position: absolute
      display: none
      left: 50%
      bottom: -10px
      margin-left: -8px
      font-family: 'Glyphicons Halflings'
      -webkit-font-smoothing: antialiased
      content: "\e113"
      color: #222
      @include transition(margin-bottom 1s ease-out, width 0.3s ease-in-out)
      @include animation(jump 1s infinite ease-in-out)
  .color.active.dark
    &:after
      color: #ddd
  .semantic
    position: absolute
  .color i
    color: #000
    opacity: 0.5
    margin: 4px
  .color.dark i
    color: #fff
  .cursor
    position: absolute
    width: 100px
    color: #222
    @include transition(color 0.3s ease-in-out, left 0.3s ease-in-out)
    &:after
      position: absolute
      bottom: -8px
      margin-left: -8px
      @include transition(margin-bottom 1s ease-out)
      @include animation(jump 1s infinite ease-in-out)
      display: block
      font-family: 'Glyphicons Halflings'
      -webkit-font-smoothing: antialiased
      content: "\e113"
      text-shadow: 0 1px 2px rgba(0,0,0,1)
    &.dark
      color: #bbb

.color
  height: 100%
  display: inline-block

//-.colorblock
  width: 64px
  height: 48px
  margin: 5px
  display: inline-block
  vertical-align: bottom

.add-color
  text-align: center
  color: #999
  line-height: 44px
  font-size: 16px
  border: 1px dashed #ccc
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  cursor: pointer
  position: absolute
  left: -34px
  margin-top: 0
  width: 24px
  height: 44px
  padding-left: 1px

#editor
  width: 1024px
  height: 420px


#wheel
  float: left
  width: 400px
  margin: 10px 40px 0 20px
#editor-detail
  float: right
  width: 520px
  @include transition(all 0.5s ease-in-out)
h3.btns
  .btn-default
    border: none
    vertical-align: bottom
  .pull-right
    margin-right: 64px
    margin-top: 5px

.palette.ref
  width: 210px
  text-align: left

circle.ptr
  cursor: pointer

svg
  @include no-selection
g.hue path.hue, g.sat path.sat, g.lit path.lit
  cursor: pointer

g.color-btns
  cursor: pointer

#editor
  h3, #cur-config, .palette-color
    @include transition(all 0.3s ease-in-out)
   
  h3
    height: 32px
    margin: 15px 0 0
  #cur-config
    width: 486px
    height: 75px
    border-bottom: 1px solid #ddd
    padding: 5px 0 10px


#mask
  position: fixed
  width: 100%
  height: 105px
  background: rgba(255,255,255,0.9)
  border:
    top: 1px solid #ccc
    bottom: 1px solid #ccc
  z-index: 9
  top: 50px
  left: 0
  box-shadow: 0 1px 3px rgba(255,255,255,0.2)
  opacity: 1
  @include transition(all 0.5s ease-in-out)
  &.dim
    height: 0
    overflow: hidden
    opacity: 0
    border: 
      top: 1px solid rgba(255,255,255,0)
      bottom: 1px solid rgba(255,255,255,0)

#editor-float
  position: fixed
  top: 50px
  left: 50%
  margin-left: -260px
  width: 520px
  height: 111px
  padding-top: 20px
  z-index: 10
  opacity: 1
  @include transition(all 0.5s ease-in-out)
  &.dim
    height: 0
    overflow: hidden
    opacity: 0

  h3, #cur-config
    height: 0
    margin: 0
    overflow: hidden

  #cur-config
    padding: 0
    border: none

  .palette
    width: 84px
    .palette-color
      height: 24px
    .name, .like
      display: none

  .editor-palette
    .add-color, .palette-color
      height: 32px
      line-height: 32px
