@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic Pro"; }

#root {
  margin: 0px auto 20px;
  padding-top: 70px; }
  @media (min-width: 1064px) {
    #root {
      max-width: 1024px; } }

#nav-top {
  width: 100%;
  height: 90px;
  background: none;
  position: fixed;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 4; }
  #nav-top nav.navbar-default {
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  #nav-top.dim {
    height: 50px;
    background: rgba(255, 255, 255, 0.9); }
    #nav-top.dim nav.navbar-default {
      margin: 5px auto; }

nav.navbar-default {
  background: none;
  border: none;
  color: #444;
  max-width: 1024px;
  margin: 20px auto;
  font-family: "century gothic", arial;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  nav.navbar-default .navbar-brand, nav.navbar-default .navbar-nav > li > a {
    color: #444;
    font-family: "century gothic", arial;
    letter-spacing: 1px; }
    nav.navbar-default .navbar-brand:hover, nav.navbar-default .navbar-nav > li > a:hover {
      color: #999;
      text-shadow: 0 0 5px rgba(255, 255, 128, 0.7); }

.palette {
  width: 300px;
  display: inline-block;
  margin: 10px 40px 20px 0;
  text-align: right; }
  .palette .name, .palette .like {
    display: inline-block; }
  .palette .name {
    float: left; }
  .palette .like {
    color: #aaa;
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    font-size: 12px; }
    .palette .like i.glyphicon {
      vertical-align: text-top;
      margin-right: 3px; }
    .palette .like .glyphicon-heart.active {
      color: #f26; }
  .palette .name, .palette .tag {
    text-align: left;
    font-family: calibri; }
  .palette .tag {
    display: none;
    font-size: 12px;
    text-align: right; }
  .palette .glyphicon {
    cursor: pointer; }

.palette.sm {
  width: 210px; }

.palette-color {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 44px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .palette-color .color {
    position: relative;
    cursor: pointer;
    -ms-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
  .palette-color .color i {
    color: #000;
    opacity: 0.5;
    margin: 4px; }
  .palette-color .color.dark i {
    color: #fff; }
  .palette-color .semantic {
    position: absolute; }

@-webkit-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@-moz-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@-ms-keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
@keyframes jump {
  0% {
    margin-bottom: 8px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 8px; } }
.editor-palette {
  position: relative; }
  .editor-palette .color.active:after {
    position: absolute;
    display: none;
    left: 50%;
    bottom: -10px;
    margin-left: -8px;
    font-family: "Glyphicons Halflings";
    -webkit-font-smoothing: antialiased;
    content: "";
    color: #222;
    -ms-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -moz-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -webkit-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -o-transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    transition: margin-bottom 1s ease-out, width 0.3s ease-in-out;
    -ms-animation: jump 1s infinite ease-in-out;
    -moz-animation: jump 1s infinite ease-in-out;
    -webkit-animation: jump 1s infinite ease-in-out;
    -o-animation: jump 1s infinite ease-in-out;
    animation: jump 1s infinite ease-in-out; }
  .editor-palette .color.active.dark:after {
    color: #ddd; }
  .editor-palette .cursor {
    position: absolute;
    width: 100px;
    color: #222;
    -ms-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, left 0.3s ease-in-out; }
    .editor-palette .cursor:after {
      position: absolute;
      bottom: -8px;
      margin-left: -8px;
      -ms-transition: margin-bottom 1s ease-out;
      -moz-transition: margin-bottom 1s ease-out;
      -webkit-transition: margin-bottom 1s ease-out;
      -o-transition: margin-bottom 1s ease-out;
      transition: margin-bottom 1s ease-out;
      -ms-animation: jump 1s infinite ease-in-out;
      -moz-animation: jump 1s infinite ease-in-out;
      -webkit-animation: jump 1s infinite ease-in-out;
      -o-animation: jump 1s infinite ease-in-out;
      animation: jump 1s infinite ease-in-out;
      display: block;
      font-family: "Glyphicons Halflings";
      -webkit-font-smoothing: antialiased;
      content: "";
      text-shadow: 0 1px 2px black; }
    .editor-palette .cursor.dark {
      color: #bbb; }

.color {
  height: 100%;
  display: inline-block; }

.add-color {
  text-align: center;
  color: #999;
  line-height: 44px;
  font-size: 16px;
  border: 1px dashed #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left: -34px;
  margin-top: 0;
  width: 24px;
  height: 44px;
  padding-left: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#editor {
  width: 1024px;
  height: 420px; }

#wheel {
  float: left;
  width: 400px;
  margin: 10px 40px 0 20px; }

#editor-detail {
  float: right;
  width: 520px;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #editor-detail h3.btns .btn-default {
    border: none;
    vertical-align: bottom; }
  #editor-detail h3.btns .pull-right {
    margin-right: 64px;
    margin-top: 7px; }
  #editor-detail h3.btns .btn[disabled='disabled'] {
    color: #999; }
  #editor-detail h3.btns .btn:not([disabled='disabled']) .glyphicon-remove {
    color: #f02; }

.palette.ref {
  width: 210px;
  text-align: left; }

circle.ptr {
  cursor: pointer; }

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

g.hue path.hue, g.sat path.sat, g.lit path.lit {
  cursor: pointer; }

g#color-area {
  cursor: pointer; }

#editor h3, #editor #cur-config, #editor .palette-color {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
#editor h3 {
  height: 32px;
  margin: 15px 0 0; }
#editor #cur-config {
  width: 486px;
  height: 75px;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 10px; }

#mask {
  position: fixed;
  width: 100%;
  height: 105px;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 2;
  top: 50px;
  left: 0;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  opacity: 1;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #mask.dim {
    height: 0;
    overflow: hidden;
    opacity: 0;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0); }

#editor-float {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  height: 111px;
  padding-top: 20px;
  z-index: 3;
  opacity: 1;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #editor-float.dim {
    height: 0;
    overflow: hidden;
    opacity: 0; }
  #editor-float h3, #editor-float #cur-config {
    height: 0;
    margin: 0;
    overflow: hidden; }
  #editor-float #cur-config {
    padding: 0;
    border: none; }
  #editor-float .palette {
    width: 84px; }
    #editor-float .palette .palette-color {
      height: 24px; }
    #editor-float .palette .name, #editor-float .palette .like {
      display: none; }
  #editor-float .editor-palette .add-color, #editor-float .editor-palette .palette-color {
    height: 32px;
    line-height: 32px; }

#name, #name-input {
  max-width: 250px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top; }

#name-input {
  line-height: 18px;
  font-size: 18px; }

.download-option {
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #eee;
  text-align: center;
  cursor: pointer;
  display: block; }
  .download-option:first-of-type {
    margin-top: 10px; }

#center-ptr {
  cursor: pointer;
  opacity: 0.5; }

.double-line {
  font-size: 12px;
  line-height: 12px;
  padding: 4px; }

#login-panel-outer {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  #login-panel-outer.active {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    -ms-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
  #login-panel-outer:before {
    display: block;
    position: absolute;
    z-index: 6;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(bk.jpg);
    background-size: cover;
    opacity: 0.7; }

#login-panel-inner {
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 50%;
  margin: -195px 0 0 -200px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
  #login-panel-inner .title {
    font-family: century gothic;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #bbb;
    padding: 20px; }
  #login-panel-inner .form {
    margin: 20px; }
    #login-panel-inner .form .btn {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  #login-panel-inner .input-group {
    margin-bottom: 5px; }
  #login-panel-inner .hint {
    margin-top: 10px;
    text-decoration: underline;
    font-size: 12px;
    color: #333;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  #login-panel-inner .close-btn {
    position: absolute;
    top: -10px;
    left: -10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    opacity: 0.9;
    cursor: pointer; }
    #login-panel-inner .close-btn:hover {
      opacity: 1; }

.or {
  position: relative;
  margin: 10px 0;
  height: 1px; }
  .or:after {
    display: block;
    content: "or";
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 2px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: auto;
    right: auto;
    line-height: 12px;
    font-size: 12px;
    color: #ccc;
    left: 50%;
    margin-left: -11px;
    top: -10px; }

#nav-profile {
  padding: 5px 0; }
  #nav-profile img {
    width: 24px;
    margin-right: 10px;
    border-radius: 3px; }
  #nav-profile li {
    text-shadow: none; }

#section-indicator {
  position: fixed;
  left: 10px;
  top: 400px;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.3); }
  #section-indicator div {
    display: inline-block;
    padding: 4px 12px 3px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 13px;
    box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.3);
    min-width: 32px;
    background: #fff;
    opacity: 0.7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #section-indicator div:after {
      display: block;
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: 24px;
      border-width: 0;
      border-style: solid;
      border-color: transparent; }
    #section-indicator div:nth-of-type(4) {
      background: #b9260e; }
    #section-indicator div:nth-of-type(3) {
      background: #db6606; }
    #section-indicator div:nth-of-type(2) {
      background: #e2af08; }
    #section-indicator div:nth-of-type(1) {
      background: #097b29; }
    #section-indicator div:hover, #section-indicator div.active {
      opacity: 1;
      box-shadow: none;
      color: #fff; }
      #section-indicator div:hover:after, #section-indicator div.active:after {
        border-width: 8px; }
    #section-indicator div.active:nth-of-type(4):after {
      border-top-color: #b9260e; }
    #section-indicator div.active:nth-of-type(3):after {
      border-top-color: #db6606; }
    #section-indicator div.active:nth-of-type(2):after {
      border-top-color: #e2af08; }
    #section-indicator div.active:nth-of-type(1):after {
      border-top-color: #097b29; }
