html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.color-bricks {
  margin: 10px 20px; }

.color-brick {
  width: 60px;
  height: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 1px; }
